body {
  font-family: "minion_pro", sans-serif;
  overflow-x: hidden;
  font-size: 17px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

h1,
p {
  margin: 0; }

.icons {
  height: 30px;
  width: 30px;
  float: left;
  background-image: url("../img/icons.png"); }

.top_header .logo {
  margin-top: 27px; }
  .top_header .logo p {
    margin-top: 14px;
    font-size: 14px;
    color: #3f3f3f; }
    .top_header .logo p span {
      color: #ec5b26; }
.top_header .country .btn-group {
  text-transform: uppercase;
  padding: 0;
  margin-top: 38px;
  margin-left: 43px;
  border: 1px solid #db841a;
  background: #fff url("../img/arrow.png") no-repeat 100px 50%;
  width: 124px;
  height: 30px; }
  .top_header .country .btn-group .btn {
    text-transform: uppercase;
    padding-top: 6px;
    padding-left: 15px;
    padding-bottom: 4px;
    padding-right: 50px;
    border-radius: 0;
    background: transparent;
    border: 0; }
    .top_header .country .btn-group .btn:focus {
      outline: none; }
  .top_header .country .btn-group .dropdown-menu {
    min-width: 124px !important; }
.top_header .language .btn-group {
  padding: 0;
  margin-top: 16px;
  margin-left: 43px;
  background: #fff url("../img/arrow.png") no-repeat 60px 70%;
  width: 80px;
  height: 18px; }
  .top_header .language .btn-group .btn {
    padding-right: 20px !important;
    vertical-align: center;
    font-size: 17px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    border: 0; }
    .top_header .language .btn-group .btn:focus {
      outline: none; }
    .top_header .language .btn-group .btn .icons {
      background-position: -235px -68px; }
.top_header .language .dropdown-menu {
  min-width: 75px !important; }
.top_header .phone {
  margin-top: 40px;
  font-size: 18px; }
  .top_header .phone .icons {
    height: 30px;
    background-position: 0 0px; }
  .top_header .phone > a {
    color: #3f3f3f;
    padding-left: 10px; }
.top_header .telegram {
  margin-top: 10px;
  margin-left: 0px; }
  .top_header .telegram a > .icons {
    background-position: -30px 0px; }
  .top_header .telegram a .whatsapp {
    height: 28px;
    margin-left: 5px;
    background-position: -60px 0px; }
.top_header .location {
  text-align: right;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .top_header .location .icons {
    width: 15px;
    height: 25px;
    background-position: 0 -38px;
    margin-left: 72px; }
  .top_header .location span {
    padding-left: 7px; }
  .top_header .location a {
    color: #3f3f3f; }
.top_header .actions {
  margin-top: 12px;
  text-align: right; }
  .top_header .actions .partner, .top_header .actions .action, .top_header .actions .render {
    color: #3f3f3f; }
  .top_header .actions p {
    padding-bottom: 17px;
    text-transform: uppercase;
    text-align: right; }
    .top_header .actions p .partner {
      padding-right: 36px; }
      .top_header .actions p .partner:hover {
        text-decoration: underline; }
    .top_header .actions p .action:hover {
      text-decoration: underline; }
  .top_header .actions .render .rend {
    margin-right: 7px; }
  .top_header .actions .render .sell {
    margin-left: 7px; }
  .top_header .actions .render:hover {
    border-bottom: dotted #252525; }

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  line-height: 47px;
  z-index: 100;
  border: 0;
  background-color: #db841a;
  margin-top: 20px; }
  nav .menu__top_menu li {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav .menu__top_menu li a {
      color: #fff; }
      nav .menu__top_menu li a .icons {
        margin-left: 5px; }
  nav .menu__top_menu .dropdown {
    height: 45px;
    text-align: center;
    width: 230px;
    position: relative;
    background: #ec5b26 url("../img/white_arr.png") no-repeat 190px 50%; }
    nav .menu__top_menu .dropdown:hover .menu__dropdown_menu {
      display: block !important;
      background: #ec5b26; }
    nav .menu__top_menu .dropdown a {
      text-decoration: none;
      color: #fff;
      display: block; }
  nav .menu__top_menu .menu__dropdown_menu {
    padding-top: 1px;
    display: none;
    position: absolute;
    z-index: 500; }
    nav .menu__top_menu .menu__dropdown_menu li {
      width: 230px;
      display: block; }
  nav .menu__top_menu button {
    width: 85px;
    color: #fff;
    background: #ec5b26;
    border: 0;
    padding: 0; }
  nav .menu__top_menu input {
    border: 0;
    box-shadow: none;
    padding-left: 34px;
    margin: 0 !important;
    width: 205px;
    color: #ec5b26;
    height: 45px; }
  nav .menu__top_menu .select_block {
    color: #000;
    display: inline-block;
    width: 156px;
    background: #fff url("../img/black_arr.png") no-repeat 120px 50%; }
    nav .menu__top_menu .select_block select {
      height: 45px;
      width: 100%;
      border: 0;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      -ms-appearance: none;
      appearance: none !important; }
      nav .menu__top_menu .select_block select option {
        background: #fff;
        border: 0; }

.bottom_menu_btn {
  display: none; }

.bottom_menu {
  font-size: 18px;
  text-align: left;
  height: 53px;
  margin-top: 30px; }
  .bottom_menu li {
    margin-right: 25px;
    display: inline-block; }
    .bottom_menu li span {
      padding-left: 3px; }
    .bottom_menu li .icons {
      height: 25px;
      width: 25px; }
    .bottom_menu li a {
      color: #3f3f3f; }
      .bottom_menu li a:hover {
        text-decoration: underline;
        color: #ec5b26; }
  .bottom_menu .other .btn-group {
    padding: 0;
    margin-left: 28px;
    background: #fff url("../img/dubbel_arrow.png") no-repeat 76px 59%;
    width: 90px;
    height: 25px; }
    .bottom_menu .other .btn-group .btn {
      width: 90px;
      background: transparent;
      vertical-align: center;
      font-size: 18px;
      padding: 0;
      margin: 0;
      border-radius: 0;
      background: transparent;
      border: 0;
      text-align: left; }
      .bottom_menu .other .btn-group .btn:hover {
        text-decoration: underline;
        color: #ec5b26; }
      .bottom_menu .other .btn-group .btn:focus {
        outline: none; }
      .bottom_menu .other .btn-group .btn .icons {
        margin-right: 10px;
        background-position: -220px 2px; }
    .bottom_menu .other .btn-group .dropdown-menu {
      min-width: 85px !important; }

.slider_top, .info {
  height: 322px; }

.info {
  background-color: #fff;
  border: 1px solid #db841a;
  padding: 15px;
  margin-right: 9px; }
  .info table {
    height: 100%;
    font-size: 18px; }
    .info table td {
      line-height: 20px;
      padding-bottom: 10px;
      padding-left: 15px; }
      .info table td .icons {
        height: 40px;
        width: 40px; }

.baner {
  margin: 38px auto; }
  .baner .parfum, .baner .perm, .baner .clothers {
    font-weight: 600;
    height: 176px;
    border: 1px solid #db841a; }
    .baner .parfum .left_text, .baner .perm .left_text, .baner .clothers .left_text {
      text-transform: uppercase;
      text-align: left;
      font-size: 20px;
      padding-top: 13px;
      padding-left: 10px;
      color: #fff; }
      .baner .parfum .left_text p, .baner .perm .left_text p, .baner .clothers .left_text p {
        line-height: 5px; }
    .baner .parfum .right_text, .baner .perm .right_text, .baner .clothers .right_text {
      text-align: right;
      font-size: 20px;
      padding-right: 20px;
      color: #fff; }
      .baner .parfum .right_text p, .baner .perm .right_text p, .baner .clothers .right_text p {
        line-height: 5px; }
  .baner .parfum {
    margin-right: 7px;
    background-image: url("../img/parfum.png"); }
    .baner .parfum .left_text {
      color: red; }
  .baner .perm {
    background-image: url("../img/Perm.png"); }
  .baner .clothers {
    background-image: url("../img/clothes.png");
    margin-left: 10px; }

.line {
  margin-top: 52px;
  margin-bottom: 44px;
  position: relative; }
  .line .middle_line {
    background: #fff url("../img/line.png") no-repeat 100% 33%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ec5b26;
    text-transform: uppercase;
    vertical-align: center; }
    .line .middle_line p {
      padding-right: 22px; }

.what_we_have {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  color: #0028aa;
  text-transform: uppercase; }
  .what_we_have .what_we_have__img {
    margin-bottom: 18px; }

.goods {
  margin-top: 180px;
  margin-bottom: 46px; }

.top_goods {
  margin-bottom: 18px;
  text-align: center; }
  .top_goods .border_img {
    border: 1px solid #db841a;
    height: 562px;
    vertical-align: center;
    padding-top: 30px;
    padding-bottom: 31px;
    padding-left: 25px;
    padding-right: 25px; }
    .top_goods .border_img .img {
      height: 260px;
      margin-top: 30px;
      margin-bottom: 30px; }
    .top_goods .border_img .last_img {
      padding-top: 30px;
      margin-bottom: 0px; }
    .top_goods .border_img .title, .top_goods .border_img .price, .top_goods .border_img .buy {
      font-weight: 600;
      text-transform: uppercase; }
    .top_goods .border_img .title {
      color: #0028aa;
      font-size: 20px; }
    .top_goods .border_img .price {
      font-size: 25px;
      margin-bottom: 5px; }
    .top_goods .border_img .buy {
      color: #ec5b26;
      padding-top: 20px; }
    .top_goods .border_img .describe {
      font-size: 20px; }

.line_clothes {
  margin-top: 142px;
  margin-bottom: 46px; }

.title_map {
  margin-top: 115px;
  position: relative; }
  .title_map .middle_map_text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ec5b26;
    text-transform: uppercase;
    vertical-align: center; }
    .title_map .middle_map_text p {
      padding-right: 22px; }

#map_section {
  margin-top: 47px;
  margin-bottom: 122px;
  height: 704px;
  width: 100%;
  background: #3f3f3f; }

.title_our_brend {
  margin-top: 135px;
  margin-bottom: 44px; }

.our_brend {
  margin-bottom: 115px; }

.about {
  color: white;
  font-size: 20px;
  text-align: left;
  height: 275px;
  background: #8e9399; }
  .about .about_us {
    margin-top: 40px; }
    .about .about_us .top_footer_text {
      margin-left: 52px;
      margin-right: 23px; }
    .about .about_us .first_text {
      margin-right: 23px; }
    .about .about_us .about_us__title {
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 24px; }

footer {
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  height: 137px;
  background-color: #3b424b; }
  footer .text_footer {
    margin-top: 22px;
    margin-bottom: 36px; }

/*# sourceMappingURL=main.css.map */
