@import vars
body
	font-family: "minion_pro", sans-serif
	overflow-x: hidden
	font-size: 17px
a
	text-decoration: none
	&:hover
		text-decoration: none
ul
	padding: 0
	margin: 0
h1,
p
	margin: 0

.icons
	height: 30px 
	width: 30px
	float: left
	background-image: url("../img/icons.png")

.top_header
	// height: 117px
	.logo
		margin-top: 27px
		p

			margin-top: 14px
			font-size: 14px
			color: $mainColor2
			span
				color: $mainColor3
	.country
		.btn-group
			text-transform: uppercase
			padding: 0
			margin:  
				top: 38px
				left: 43px
			border: 1px solid $mainColor1
			background: #fff url("../img/arrow.png") no-repeat 100px 50%
			width: 124px
			height: 30px
			.btn
				text-transform: uppercase
				padding:
					top: 6px
					left: 15px
					bottom: 4px
					right: 50px
				border-radius: 0
				background: transparent
				border: 0
				&:focus
					outline: none
			.dropdown-menu
				min-width: 124px !important
		
	.language
		.btn-group
			padding: 0
			margin:  
				top: 16px
				left: 43px
			background: #fff url("../img/arrow.png") no-repeat 60px 70%
			width: 80px
			height: 18px
			.btn
				padding-right: 20px !important
				vertical-align: center 
				font-size: 17px
				padding: 0
				margin: 0
				border-radius: 0
				background: transparent
				border: 0
				&:focus
					outline: none
				.icons
					background-position: -235px -68px
		.dropdown-menu
			min-width: 75px !important
	.phone
		.icons
			height: 30px
			background-position: 0 0px
		margin-top: 40px
		font-size: 18px
		>a
			color: $mainColor2
			padding-left: 10px
	.telegram
		margin:
			top: 10px
			left: 0px
		a
			>.icons
				background-position: -30px 0px
			.whatsapp
				height: 28px
				margin-left: 5px
				background-position: -60px 0px
	.location
		text-align: right
		font-size: 14px
		margin:
			left: 10px
			top: 10px
			bottom: 10px
		.icons
			width: 15px
			height: 25px
			background-position: 0 -38px
			margin-left: 72px 
		span
			padding-left: 7px
		a
			color: $mainColor2
	
	.actions
		margin:
			top: 12px
		text-align: right
		.partner, .action, .render
			color: $mainColor2
		p
			padding: 
				bottom: 17px
			text-transform: uppercase
			text-align: right
			.partner
				padding-right: 36px
				&:hover
					text-decoration: underline
			.action
				&:hover
					text-decoration: underline
		.render
			.rend
				margin-right: 7px
			.sell
				margin-left: 7px
			&:hover
				border-bottom: dotted rgb(37,37,37)

				



nav
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 47px
	line-height: 47px
	z-index: 100
	border: 0
	background-color: $mainColor1
	margin-top: 20px
	.menu__top_menu
		li	
			
			display: inline-block
			padding: 0 
			margin: 0
			a
				color: #fff
				.icons
					margin-left: 5px
		.dropdown
			height: 45px
			&:hover
				.menu__dropdown_menu
					display: block !important
					background: $mainColor3
			text-align: center
			width: 230px
			position: relative
			background: $mainColor3 url("../img/white_arr.png") no-repeat 190px 50%			
			a
				text-decoration: none
				color: #fff
				display: block
		.menu__dropdown_menu
			padding-top: 1px
			display: none
			position: absolute
			z-index: 500
			li
				width: 230px
				display: block
		button
			width: 85px
			color: #fff
			background: $mainColor3
			border: 0
			padding: 0
		input
			border: 0
			box-shadow: none
			padding-left: 34px
			margin: 0 !important
			width: 205px
			color: $mainColor3
			height: 45px
		.select_block
			color: #000
			display: inline-block
			width: 156px
			background: #fff url("../img/black_arr.png") no-repeat 120px 50%
			select
				height: 45px
				width: 100%
				border: 0
				background: transparent
				-webkit-appearance: none
				-moz-appearance: none
				text-indent: 0.01px
				text-overflow: ''
				-ms-appearance: none
				appearance: none !important
				option
					background: #fff		
					border: 0
					
// .menu_btn
// 	display: none

.bottom_menu_btn
	display: none 
.bottom_menu
	font-size: 18px
	text-align: left
	height: 53px
	margin:
		top: 30px
	li
		margin:
			right: 25px
		display: inline-block
		span
			padding:
				left: 3px
			
		.icons
			height: 25px 
			width: 25px
		a
			color: $mainColor2
			&:hover
				text-decoration: underline
				color: $mainColor3
	.other
		.btn-group
			padding: 0
			margin-left: 28px
			background: #fff url("../img/dubbel_arrow.png") no-repeat 76px 59%
			width: 90px
			height: 25px
			.btn
				&:hover
					text-decoration: underline
					color: $mainColor3
				width: 90px
				background: transparent
				vertical-align: center
				font-size: 18px
				padding: 0
				margin: 0
				border-radius: 0
				background: transparent
				border: 0
				text-align: left
				&:focus
					outline: none
				.icons
					margin-right: 10px
					background-position: -220px  2px
			.dropdown-menu
				min-width: 85px !important
.slider_top, .info
	height: 322px
.info
	background-color: #fff
	border: 1px solid $mainColor1
	padding: 15px
	margin: 
		right: 9px
	table
		height: 100%
		font-size: 18px
		td
			.icons
				height: 40px
				width: 40px	
			line-height: 20px
			padding:
				bottom: 10px
				left: 15px

.baner
	margin: 38px auto
	.parfum, .perm, .clothers
		font-weight: 600
		height: 176px
		border: 1px solid $mainColor1
		.left_text
			p
				line-height: 5px
			text-transform: uppercase
			text-align: left
			font-size: 20px
			padding: 
				top: 13px
				left: 10px
			color: #fff
		.right_text
			p
				line-height: 5px
			text-align: right
			font-size: 20px
			padding: 
				right: 20px
			color: #fff
	.parfum
		margin-right: 7px 
		background-image: url("../img/parfum.png")
		.left_text
			color: rgb(255,0,0)
	.perm
		background-image: url("../img/Perm.png")
	.clothers
		background-image: url("../img/clothes.png")
		margin-left: 10px
.line
	margin:
		top: 52px
		bottom: 44px
	position: relative
	.middle_line
		background: #fff url("../img/line.png") no-repeat 100% 33%
		text-align: center
		font-size: 20px
		font-weight: 600
		color: $mainColor3
		text-transform: uppercase
		vertical-align: center
		p
			padding-right: 22px
				

.what_we_have
	font-weight: 600
	.what_we_have__img
		margin-bottom: 18px
	text-align: center
	font-size: 16px
	color: $mainColor4
	text-transform: uppercase

.goods
	margin: 
		top: 180px
		bottom: 46px
			

.top_goods
	margin-bottom: 18px
	text-align: center
	.border_img
		border: 1px solid $mainColor1
		height: 562px
		vertical-align: center
		padding: 
			top: 30px
			bottom: 31px
			left: 25px
			right: 25px
		.img
			height: 260px
			margin: 
				top: 30px
				bottom: 30px
		.last_img
			padding-top: 30px
			margin-bottom: 0px
		.title, .price, .buy
			font-weight: 600
			text-transform: uppercase

		.title
			color: $mainColor4	
			font-size: 20px
		.price
			font-size: 25px
			margin-bottom: 5px
		.buy
			color: $mainColor3
			padding:  
				top: 20px
		.describe
			font-size: 20px
				
.line_clothes
	margin: 
		top: 142px
		bottom: 46px
			
.title_map
	margin:
		top: 115px
	position: relative
	.middle_map_text
		text-align: center
		font-size: 20px
		font-weight: 600
		color: $mainColor3
		text-transform: uppercase
		vertical-align: center
		p
			padding-right: 22px
.map
	margin: 
		top: 47px
		bottom: 122px

.title_our_brend
	margin: 
		top: 135px
		bottom: 44px

.our_brend
	margin: 
		bottom: 115px

.about
	color: white
	font-size: 20px
	text-align: left
	height: 275px
	background: rgb(142,147,153)
	.about_us
		margin: 
			top: 40px
		.top_footer_text
			margin: 
				left: 52px
				right: 23px
		.first_text
			margin-right: 23px
		.about_us__title
			text-decoration: underline
			text-transform: uppercase
			font-weight: 600
			margin: 
				bottom: 24px
footer
	text-align: left
	text-transform: uppercase
	font-size: 20px
	color: #fff
	height: 137px
	background-color: rgb(59,66,75)
	.text_footer
		margin: 
			top: 22px
			bottom: 36px





