@import vars
body
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	font-size: 16pt
a
	text-decoration: none
	&:hover
		text-decoration: none
ul
	padding: 0
	margin: 0
h1,
p
	margin: 0


.top_header
	// height: 117px
	.logo
		margin-top: 27px
		p

			margin-top: 14px
			font-size: 12pt
			span
				color: $mainColor3
	.counry
		margin:  
			top: 40px
			left: 43px
		border: 2px solid $mainColor1
		overflow: hidden
		height: 30px
		background: #fff url("../img/arrow.png") no-repeat 103px 50%
		width: 124px
		select
			text-transform: uppercase
			margin:
				top: 0
			border-radius: 0
			background: transparent
			border: 0
			font-size: 16px
			width: 150px
			&:focus
				outline: none
			option
				background: transparent
	.language
		overflow: hidden
		font-size: 10pt
		height: 16px
		width: 64px
		margin:
			top: 15px
			left: 43px
		background: #fff url("../img/arrow.png") no-repeat 30px 50%
		select
			margin: 0
			border-radius: 0
			background: transparent
			width: 100px
			border: 0
	.phone
		margin-top: 40px
		a
			padding-left: 10px
	.location
		text-align: right
		>p
			font-size: 10pt
			padding: 10px
			span
				padding-left: 7px
		.partner
			padding-right: 30px
		.partner, .action
			
			text-transform: uppercase
			&:hover
				text-decoration: underline
		.render
			font-size: 14pt
			&:hover
				border-bottom: dotted

				



nav
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 100%
	line-height: 47px
	z-index: 999
	border: 0
	background-color: $mainColor1
	margin-top: 20px
	li
		display: inline-block
		text-align: center
	.menu
		li
			width: 230px
			background-color: $mainColor3
			height: 47px
			a
				color: #fff
		
	
				

// .menu
// 	
// 	a
// 		font-size: 17px
// 	input, select, button
		border: 0
		margin: 0
		border-radius: 0
		background: #fff
	
// 	.input_select
// 		background-color: #fff
// 		border: 1px solid $mainColor1
// 	.dropdown
// 		width: 230px
// 		background-color: $mainColor3
		
// .menu_btn
// 	display: none


// .slider_top, .info
// 	height: 322px
// .slider_top
// 	background-color: $mainColor3
// 	margin: 
// 		left: 10px
// .info
// 	background-color: $mainColor1
// 	margin: 
// 		right: 10px

// .blue
// 	background-color: blue
// 	height: 100%



// .bottom_menu
// 	text-align: left
// 	height: 83px
// 	line-height: 83px 
// 	li
// 		display: inline-block



























